<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Motorcycle Inventory</title>
  </head>
  <body>

    <h1> Welcome to Motorcycle Inventory</h1>

    
    <a href="/items">Items</a>
    <a href="/categories">Categories</a>

  </body>
</html>
