<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Categories</title>
  </head>
  <body>
    <div>
      <ul>
        <% categories.forEach(category => { %>
        <li>
          Class: <%= category.name %> <br> Description: <%=category.description %>
        </li>
        <% }); %>
        <a href="/">Return Home</a>
      </ul>
    </div>
  </body>
</html>
